<div>
    <a class="btn fa fa-angle-double-left" href="#/"></a>
    <h1>{{vm.Trip.name}}</h1>
        <form class="form-inline" role="form">
            <div class="form-group">
                <label>Location</label>
                <input class="form-control" ng-model="vm.Trip.name" required maxlength="255">
            </div>
            <div class="form-group">
                <label>Date</label>
                <dc-date modelx="vm.Trip.created" namex="tripDateInput" ptrn="dd.MM.yyyy" required></dc-date>                
                <!--input id="date" ng-model="vm.tripDateInput" /-->
                <!--input name="tripdateInput" type="date" id="tripDateInput" class="form-control" ng-model="vm.tripDateInput" required ng-pattern="dd.mm.yyyy" /-->                
            </div>                        
                <input type="button" ng-click="vm.updateTrip()" class="btn btn-primary btn-sm" value="Update" />          
        </form>    
        
    <ul class="list-group list-unstyled">
        <li class="list-group-item list-group-item-info" ng-repeat="stop in vm.Trip.destinations">
            <span class="text-primary text-capitalize">{{stop.name}}</span><br /> ({{stop.arrival}})
        </li>
    </ul>    
</div>