body {
    margin:0;
    background-color:#aac5dc;
}

ul.menu li {
    list-style:square;
}

#sidebar {
    overflow: hidden;
    width: 250px;
    position: fixed;
    height: 100%;
    background-color: #eee;
    padding: 5px 0 0 5px;
    border: 0;
    margin: 0;
    left:0;
    -moz-transition: left ease .5s;
    -o-transition: left ease .5s;
    -webkit-transition: left ease .5s;
    transition: left ease .5s;
}


#sidebar img{
    display:block;
}

#footer {
background-color:black;
color:white;
padding:5px 3px;
border:0;
position:fixed;
bottom:0;
width:100%;
}

html {
margin:0px;
}

#sidebar .headshot {
    max-width:64px;
    max-height:64px;
    padding:1px;
    border:1px solid #939194;
    bottom:0;
    margin:0;
}

#main {
    margin-top:0; 
    margin-left:5px;
    width:100%;       
}


#sidebar .menu .active {
 font-weight:bold;  
}

#contactForm span
{
    display:inline-table;
}

label{
    display:block;
}

input[type=password], input[type=text], input[type=textarea]  {
    display:block;
    width:150px;
}

    input[type=password], input[type=text], input[type=textarea] span {
    display:inline;
    }

#wrapper {
    position: fixed;
    margin-left: 250px;
    margin-top: 0;
    padding: 5px;
    width:100%;
    -moz-transition: margin-left ease .5s;
    -o-transition: margin-left ease .5s;
    -webkit-transition: margin-left ease .5s;
    transition: margin-left ease .5s;
}

#wrapper.toggle-sidebar {
    margin-left: 0;
    padding:5px 0 0 0;
    -moz-transition: margin-left ease .5s;
    -o-transition: margin-left ease .5s;
    -webkit-transition: margin-left ease .5s;
    transition: margin-left ease-in .5s;
}

#sidebar.toggle-sidebar {
    padding: 5px 0 0 0;
    left: -250px;
    -moz-transition: left ease .5s;
    -o-transition: left ease .5s;
    -webkit-transition: left ease .5s;
    transition: left ease .5s;
}