<!DOCTYPE html>
<html title="School-@ViewBag.Title">
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="sidebar">
        <img src="~/img/photo.png" alt="headshot" class="headshot" />
        <span id="userName">Dave John</span>
        <ul class="menu">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <div>
            <button id="toggleButton" type="button">Hide</button>
        </div>
        <div id="main">
        @RenderBody()
        </div>
        <div id="footer">
            All rights are reserved!
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
    <script src="~/js/site.js" type="text/javascript"></script>
</body>
</html>