<!DOCTYPE html>
<html title="School-@ViewBag.Title">
<head>    
    <link rel="stylesheet" href="~/scripts/lib/bootstrap/dist/css/bootstrap.css" /> @*changed : Bootstrap*@
    <link id="bootstrapCss" rel="stylesheet" href="~/scripts/lib/bootswatch/yeti/bootstrap.min.css"> @*changed : Bootswatch Template - override some of the bootstrap css classes *@
    <link rel="stylesheet" href="~/scripts/lib/font-awesome/css/font-awesome.css" /> @*changed : font-awsome*@
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/scripts/lib/requirejs/require.js"></script>
<!--Before Render Scripst-->
    @RenderSection("Scripts", false)
<!--After Render Scripst-->
</head>
<body>
    <div id="sidebar">
        @{
            if (User.Identity.IsAuthenticated)
            {
                <img src="~/img/photo.png" alt="headshot" class="headshot img-circle" />
                <span id="userName" class="text-primary">Dave John</span>
            }
        }
        <ul class="nav">
            @*changed : Bootstrap nav from menu*@
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
            <li><a asp-controller="App" asp-action="TestPage">Bootstrap Templates</a></li> @*changed : Bootstrap*@
            @if (User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="App" asp-action="Trips">Trips</a></li>
                <li><a asp-controller="Auth" asp-action="LogOut">Logout</a></li>
            }
        </ul>
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-inverse">
            @*changed : Bootstrap - adding navbar*@
            <div class="container-fluid" style="margin-left:0;padding-left:0">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="toggleButton" class="btn btn-primary btn-sm">
                            <i class="fa  fa-angle-double-left fa-2x"> </i>
                        </button> @*changed : Bootstrap*@
                    </li>
                    @*<li> <i class="fa fa-spinner fa-4x" ></i></li>*@
                </ul>
                <a asp-controller="App" asp-action="Index" class="navbar-brand" > Home</a>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button href="#" class="btn btn-sm btn-info">
                            <i class="fa fa-save"></i> Save
                        </button>
                    </li>
                    <li>
                        <button href="#" class="btn btn-sm btn-info">
                            <i class="fa fa-print"></i> Print
                        </button>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="main" class="container-fluid">

            @RenderBody()
        </div>
        <div id="footer" class="container-fluid">

            @*changed : Bootstrap*@
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <h4 class="text-center text-info">&copy; All rights are reserved!</h4>
            </div>
        </div>
    </div>            
</body>

</html>