@model IEnumerable<School.Model.Trip>
@{
    ViewBag.Title = "Home Page";
}
    <div class="col-md-6">
        <h2>The World</h2>
        This will be a funny web site
        <form>
            <div>
                <label>Date</label>
                <input />
            </div>
            <div>
                <label>Location</label>
                <input>
            </div>
            <input type="button" class="btn btn-primary btn-sm" value="Add" />
        </form>
    </div>

    <div class="col-md-6">
        <h2>The Map</h2>
        This will be a wonderful journey !!!                
        <ol>
            @foreach (School.Model.Trip trip in Model)
        {
                <li>
                    @trip.Name (@trip.Created)
                    <ul>
                        @foreach (var stop in trip.Destinations)
                        {                            
                                <li>
                                    @stop.Arrival.ToShortTimeString()-<a href="https://www.google.com.tr/?q=Goreme&gws_rd=ssl#safe=active&q=@stop.Name%20Turkey">@stop.Name</a>
                                </li>                            
                        }
                    </ul>
                </li>
            }
        </ol>       
    </div>
