@{ 
    ViewBag.Title = "Home Page";
}
<h2>The World</h2>
            This will be a funny web site

<form>
    <div>
        <div>
            <label>Date</label>
            <input />
        </div>
        <div>
            <label>Location</label>
            <input>
        </div>
    </div>
    <input type="submit" value="Add" />

</form>