@{
    ViewBag.Title = "Home Page";
}
    <div class="col-md-12">
        <h1>Welcome to LookUp page !</h1>
        <a asp-controller="App" asp-action="Trips" class="btn btn-success btn-lg">View My Trips</a>
    </div>   