@{
    ViewBag.Title = "Bootstrap Demo";
}
@section Scripts
{
<script>       
       var onTemplateControllerInstalled = function () {
           var tagMainApp = jQuery("#app").first().get();
           angular.bootstrap(tagMainApp, ['app']);
       }

       var onAppTripsInstalled = function () {
           require(['templateController'], function (template) {               
                   callFn(onTemplateControllerInstalled);
           });
       }
       var onSiteStart = function (){
           require(['angularComponents']);
       }
</script>
<script src="~/scripts/app.js"></script>
}
<!--http://wdtz.org/bootswatch-theme-selector.html-->
<div id="app">
    <div class="jumbotron col-md-6 col-md-offset-3" ng-controller="templateController as vm">
        <div ng-if="vm.selectedTheme" class="text-success text-capitalize h1">{{vm.selectedTheme.name}}</div>
        <ul class="btn-group-lg list-inline">           
            <li class="btn btn-lg " ng-repeat="template in vm.templateList">
                <a 
                   ng-click="vm.changeTheme(template)" 
                   ng-mouseenter="vm.changeThemeEnter(template)"
                   ng-mouseleave="vm.changeThemeLeave()" 
                   class="btn btn-default">{{template.name}}</a>
            </li>
        </ul>
    </div>
</div>
