@model IEnumerable<School.Model.Trip>
@{
    ViewBag.Title = "Trips Page";
}
@section Scripts
{    
    <script src="~/js/jquery.maskedinput.min.js"></script>
    <script src="~/lib/moment/min/moment-with-locales.min.js"></script>
    <!--script src="~/lib/moment/min/moment.min.js"></!--script-->
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/gmaps/gmaps.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAajnpD2EEBvAyjeFpfdIWKwMHrtH0fgCY"></script>
    <script src="~/lib/travelmap/travelmap.min.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/tripsController.js"></script>
    <script src="~/js/tripEditorController.js"></script>
}
<div class="col-md-5" ng-app="app">
 <div ng-view></div>
</div>

<div class="col-md-7 jumbotron">    
    <!--
    <h2>The Map</h2>
    This will be a wonderful journey !!!
    <ol>
        @foreach (School.Model.Trip trip in Model)
        {
            <li>
                @trip.Name (@trip.Created)
                <ul>
                    @foreach (var stop in trip.Destinations)
                    {
                        <li>
                            @stop.Arrival.ToShortTimeString()-<a href="https://www.google.com.tr/?q=Goreme&gws_rd=ssl#safe=active&q=@stop.Name%20Turkey">@stop.Name</a>
                        </li>
                    }
                </ul>
            </li>
        }
    </ol>
        -->
    <div id="map">

    </div>
</div>
